.rounded-image {
    border-radius: 50%;
    float: left;
    margin-right: 5px;
    width: 80px;
    height: 80px;
}
.card-body {
    overflow: hidden;
}

.card-body img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card-body h5,
.card-body p,
.card-body h6 {
    display: block;
    clear: both;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input[type="file"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
@media (max-width: 576px) {
    .col-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
/* Atur tampilan untuk layar handphone */
@media (max-width: 576px) {
    .col-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Atur tampilan untuk layar tablet */
@media (min-width: 577px) and (max-width: 991px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* Atur tampilan untuk layar desktop atau laptop */
@media (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}



